.ql-top-container {
   
    height: inherit;
    width: max-content;
    height: auto;

}
.resizable  .ql-editor  {
    height: inherit;
    resize: both;
    overflow: auto;
    border-end-end-radius: 0;
}
.ql-editor  {
    width: 400px;
    height: min-content;
}
.ql-container {
    height: inherit;
    width: auto;
}
.ql-toolbar {
    width: auto;
}

.readonly > .ql-container {
    background-color: var(--a-surface-subtle);
    border-color: var(--a-border-subtle);
    cursor: default;
}