@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "@navikt/ds-css-internal";
@import "@navikt/bidrag-ui-common/styles/index.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.navds-tabs__tablist-wrapper {
    width: max-content;
}