.grid-item{
    position:relative
}
.grid-item::after {
    content: '';
    position: absolute;
    background-color: var(--a-border-divider);
    z-index: 1;
    width: 100vw;
    height: 1px;
    left: 0;
    top: -1px;
}